/*  your css code here. If applicable */
.square{
    width: 40px;
	height:50px;
	border:1px solid black;
}

.square:hover{
	background-color:red;
}


.container{
	display:grid;
    grid-template-columns: 0% 0%;
}